{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Movie</div>
                <table>
                    <header>
                        <tr>
                            <td colspan="100%">Movie Rankings</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>Genre</td>
                            <td>Box Office Revenue</td>
                            <td>Runtime</td>
                            <td>Audience Rating</td>
                            <td colspan="3"></td>
                        </tr>
                    </header>
                    <body>
                        <tr>
                            <td>Placeholder</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>Info Button Goes Here</td>
                            <td>Drag Button Goes Here</td>
                            <td>Delete Button Goes Here</td>
                        </tr>
                    </body>
                </table>
            </div>
        </header>
         <!-- Footer-->
{% endblock %}    